################################
## Java
################################
*.class
*.jar
*.raw
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Gradle
##############################
bin/
.gradle/
build/
**/build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
.gradle/caches/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Miscellaneous
##############################
*.log