# FogRenderer
public net.minecraft.client.renderer.FogRenderer$FogData # FogRenderer$FogData

# OverworldBiomeBuilder
public net.minecraft.world.level.biome.OverworldBiomeBuilder *() # addBiomes

# SurfaceRules
public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule # SurfaceRules$SurfaceRule
public net.minecraft.world.level.levelgen.SurfaceRules$Context # SurfaceRules$Context

# Climate
public net.minecraft.world.level.biome.Climate$RTree # Climate$RTree
public net.minecraft.world.level.biome.Climate$RTree$Node # Climate$RTree$Node
public net.minecraft.world.level.biome.Climate$DistanceMetric # Climate$DistanceMetric
public net.minecraft.world.level.biome.Climate$RTree$Node *()
public net.minecraft.world.level.biome.Climate$RTree$Leaf *()
public net.minecraft.world.level.biome.Climate$RTree$SubTree *()
