# FogRenderer
public net.minecraft.client.renderer.FogRenderer$FogData # FogRenderer$FogData

# BlockEntityType
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier # BlockEntityType$BlockEntitySupplier

# ParticleEngine
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration # ParticleEngine$SpriteParticleRegistration