# ClientChunkCache
public net.minecraft.client.multiplayer.ClientChunkCache$Storage # Storage
public net.minecraft.client.multiplayer.ClientChunkCache$Storage m_104500_(II)Z # inRange

# Camera
public net.minecraft.client.Camera m_90572_(FF)V # setRotation
public net.minecraft.client.Camera m_90581_(Lnet/minecraft/world/phys/Vec3;)V # setPosition